:root {
  --primary-color: #100058;
  --secondary--color: #3d3d3d;
}

html {
  font-size: 20px;
}

body {
  display: grid;
  grid-template-areas: "header header aside" "main main aside";
  grid-template-rows: 8% 92%;
  grid-template-columns: 35% 35% 30%;
  aspect-ratio: 210/297;
  margin: 1cm;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: var(--secondary--color);
}

header, aside, main {
  box-sizing: border-box;
}

header {
  grid-area: header;
  padding-left: 8rem;
  color: #100058;
}
header p {
  font-size: 1.3rem;
  margin: 0.5em 0;
}

aside {
  grid-area: aside;
  background-color: green;
}

main {
  grid-area: main;
  padding-left: 8rem;
  line-height: 1.4rem;
  background-color: cornsilk;
}

h1, h2 {
  color: #100058;
}

h1 {
  margin: 0.5em 0;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h3, h4, p {
  margin: 0.5em 0;
}

ul {
  margin: 0;
}